**List Comprehensions**

List Comprehensions provide an elegant way to create new lists.
It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses.

In [ ]:
#displaying all even numbers upto 40
mylist = [i for i in range(41) if i % 2 == 0]
mylist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
mylist1 = [i for i in range(41) if i % 2 != 0]
mylist1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [ ]:
mylist2 = [i*i for i in range(10)]
mylist2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list1 = [1,2,3,4,5]
list1 = [i*10 for i in list1]
list1

[10, 20, 30, 40, 50]

In [ ]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensi
list2 = [i for i in range(100) if i%3 == 0 if i %9 == 0 if i%12==0]
list2

[0, 36, 72]

In [ ]:
# Odd even test
l1 =[print("{} is even number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i in range(10)]

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [ ]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdecimal()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
letters = [i for i in mystr if i.isalpha()]
letters

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

**Tuples**
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

In [ ]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple.remove('one')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
l1 =[1,2]

In [ ]:
l1.remove(1)

In [ ]:
l1

[2]

In [ ]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytuple[0]=1

TypeError: 'tuple' object does not support item assignment

In [ ]:
mytuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [ ]:
l1.clear()

In [ ]:
l1

[]

In [ ]:
for i in mytuple:
  print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(mytuple):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

**Count**

In [ ]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [ ]:
# Number of times item "one" occurred in the tuple.
mytuple1.count('one')

3

In [ ]:
mytuple.count('two')

1

**Tuple Membership**

In [ ]:
  mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
'one' in mytuple

True

In [ ]:
if 'three' in mytuple: # Check if 'three' exist in the list
 print('Three is present in the tuple')
else:
 print('Three is not present in the tuple')

Three is present in the tuple

In [ ]:
mytuple.index('one')

0

In [ ]:
mytuple2 = (43,67,99,12,6,90,67)

In [ ]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [ ]:
sorted(mytuple2,reverse=True) #it will not modify the original tuple

[99, 90, 67, 67, 43, 12, 6]

In [ ]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [ ]:
mytuple.sort() # since tuple is immutable it can't be sorted

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
l1 =[3,2,4,6]
l1.sort()

In [ ]:
l1

[2, 3, 4, 6]

**Sets**
1. Unordered & Unindexed collection of items.
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable (cannot be changed).
4. Set itself is mutable. We can add or remove items from it

In [ ]:
myset = {1,2,3,4,5,6,7,5,6,7} # Duplicate elements are not allowed.

In [ ]:
myset

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
myset2 = {3,2,1} # it will sort the elements present in it

In [ ]:
myset2

{1, 2, 3}

In [ ]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [ ]:
myset3 = {10,20, "Hola", [11, 22, 32]} # Mixed datatypes
myset3

TypeError: unhashable type: 'list'



```
set doesn't allow mutable items like list

```

In [ ]:
myset_ = {1,2,[3,4]}

TypeError: unhashable type: 'list'

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
 print(i)

three
seven
one
five
four
six
eight
two

In [ ]:
for i in enumerate(myset):
 print(i)

(0, 'three')
(1, 'seven')
(2, 'one')
(3, 'five')
(4, 'four')
(5, 'six')
(6, 'eight')
(7, 'two')

In [ ]:
#Set Membership
'one' in myset

True

In [ ]:
#Add & Remove Items
myset.add('NINE','234')

TypeError: set.add() takes exactly one argument (2 given)

In [ ]:
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.add(['TEN','234'])

TypeError: unhashable type: 'list'

In [ ]:
myset.update(['TEN','234'])
myset

{'234',
 'NINE',
 'TEN',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset

{'234',
 'NINE',
 'TEN',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.remove('234') #remove item in a set using remove() method
myset

{'NINE', 'TEN', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.discard('TEN')
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.clear()
myset

set()

In [ ]:
myset #here myset is empty

set()

In [ ]:
del myset
myset

NameError: name 'myset' is not defined

In [ ]:
#copy set
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1= myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
# The address of both myset & myset1 will be the same
id(myset), id(myset1)

(137149033077152, 137149033077152)

In [ ]:
myset_copy = myset.copy()
myset_copy

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
 # The address of myset_copy will be different from myset
id(myset), id(myset_copy)

(137149033077152, 137149033076928)

In [ ]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1  # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
#Copy of the set won't be impacted due to changes made on the original Se
myset_copy

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

**Set Operation**

In [ ]:
A= {1,2,3,4,5}
B= {4,5,6,7,8}
C= {8,9,10}

In [ ]:
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
B

{4, 5, 6, 7, 8}

In [ ]:
# union of A and B
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
# union of A , B and C
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#Intersection
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [ ]:
A.intersection(B) # Intersection of A and B

{4, 5}

In [ ]:
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

In [ ]:
#Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [ ]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [ ]:
"""
Updates the set calling the difference_update() method with the difference of set
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

In [ ]:
#Symmetric Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUD

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [ ]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetr
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [ ]:
#Subset , Superset & Disjoint
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [ ]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are present in A

True

In [ ]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [ ]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common el

True

In [ ]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
max(A), min(A), len(A),list(enumerate(A)),sorted(A,reverse = True) , sorted(A)

(9,
 1,
 9,
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)],
 [9, 8, 7, 6, 5, 4, 3, 2, 1],
 [1, 2, 3, 4, 5, 6, 7, 8, 9])

**Dictionary**

* Dictionary is a mutable data type in
Python.
* A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
* Keys must be unique in a dictionary, duplicate values are allowed.

In [ ]:
mydict = {
    'A':'one',
    'B':'two',
    'C':'three',
    'D':'four'
          }
mydict

{'A': 'one', 'B': 'two', 'C': 'three', 'D': 'four'}

In [ ]:
#Create Dictionary
mydict = dict() # empty dictionary
mydict

{}

In [ ]:
mydict = {} # empty dictionary
mydict

{}

In [ ]:
mydict = {1:'one' , 2:'two' , 3:'three',3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 2, 3])

In [ ]:
mydict.values() # Return Dictionary values using values() method

dict_values(['one', 'two', 'three'])

In [ ]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [ ]:
dict([(1, 'one'), (2, 'two'), (3, 'three')])

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
keys= {'a','b','c','d'}
mydict3 = dict.fromkeys(keys,[10,20,30,40])
mydict3

{'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [ ]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [ ]:
mydict1['DOB']=20002

In [ ]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 20002, 'Address': 'Hilsinki'}

In [ ]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [ ]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [ ]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [ ]:
mydict1.popitem() # A random item is removed

('Address', 'Hilsinki')

In [ ]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [ ]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [ ]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [ ]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

In [ ]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [ ]:
mydict1=mydict

In [ ]:
id(mydict1), id(mydict)

(139337831033408, 139337831033408)

In [ ]:
mydict2 = mydict.copy()

In [ ]:
id(mydict2) == id(mydict)

False

In [ ]:
mydict['Address'] = 'HYD'

In [ ]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'HYD'}

In [ ]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [ ]:
# Loop through a Dictionary

mydict1 = {'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [ ]:
for i in mydict1:
  print(i,":",mydict1[i]) # i will gives us keys and mydict1[i] will give values

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [ ]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [ ]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [ ]:
'Asif' in mydict1 # membership test is only done for keys not vlaues

False

In [ ]:
'Address' in mydict1

False

In [ ]:
mydict1['ID']=0
mydict1

{'Name': 'Asif', 'ID': 0, 'DOB': 1991, 'Job': 'Analyst'}

In [ ]:
all(mydict1)

True

In [ ]:
mydict1[0]='test1'
mydict1

{'Name': 'Asif', 'ID': 0, 'DOB': 1991, 'Job': 'Analyst', 0: 'test1'}

In [ ]:
all(mydict1)

False

In [ ]:
# Dictionary Comprehension
double = {i:i*2 for i in range(5)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]
mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create d
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [ ]:
dict(zip(key,value))

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [ ]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}

mydict1 = {k:v/10 for (k,v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [ ]:
str1 = "Natural Language Processing"

mydict2 = {k:v for (k,v) in enumerate(str1)}
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [ ]:
str1 = "Natural Language Processing"
mydict3 = {i:i.upper() for i in str1}
mydict3

{'N': 'N',
 'a': 'A',
 't': 'T',
 'u': 'U',
 'r': 'R',
 'l': 'L',
 ' ': ' ',
 'L': 'L',
 'n': 'N',
 'g': 'G',
 'e': 'E',
 'P': 'P',
 'o': 'O',
 'c': 'C',
 's': 'S',
 'i': 'I'}

In [ ]:
# Word Frequency using dictionary
mystr4 = "one two three four one two two three five five six seven six seven one"
mylist = mystr4.split()
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [ ]:
mylist.count(mylist[0])

3

In [ ]:
word_freq = {}
for i in mylist:
  word_freq[i]=mylist.count(i)

In [ ]:
word_freq

{'one': 3, 'two': 3, 'three': 2, 'four': 1, 'five': 2, 'six': 2, 'seven': 2}

**Operators**

 Operators are special symbols in Python which are used to perform operations on
variables/values.

In [ ]:
a = 5
b = 2
x = 'Asif'
y = 'Bhat'
# Addition
c = a + b
print("additon of {} and {} will give {}".format(a,b,c))

additon of 5 and 2 will give 7

In [ ]:
z = x+y
print("concatenation of strings \'x\' and \'y\' using \'+\' operator :- {}\n ".format(z))

concatenation of strings 'x' and 'y' using '+' operator :- AsifBhat

In [ ]:
a = 'Asif'
b = 'Bhat'
c = 'Asif'
a == b , a ==c , a != b # Comparison operators on string

(False, True, True)

In [ ]:
id(a) == id(c)

True

In [ ]:
x = 18 # binary form 10010
y = 6 # binary form 00110
print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72

In [ ]:
bin(18) , bin(6)

('0b10010', '0b110')

In [ ]:
10010 & 110

10

In [ ]:
bin(22)

'0b10110'

In [ ]:
bin(72)

'0b1001000'

**Functions**

1. A Fuction is a block of organized code written to carry out a specified task.
2. Functions help break our program into smaller and modular chunks for better readability.
3. Information can be passed into  Function as arguments
4. parameters are specified after the functions name inside the parenteses.
5. we can add as many as parameters as we want. parameters must be separated with a comma.
6. A function may or may not return data.
7. In python a function is defined using **def** keyword


**parameter vs arguments**


* parameter is the variabel listed inside the parentheses of a function definition.
* arguments are the value that is sent to the function when it is called.

**Three types of functions in Python:-**

**Built-in function** :- Python predefined functions that are readily available for use like min() ,
max() , sum() , print() etc.

**User-Defined Functions**:- Function that we define ourselves to perform a specific task.

**Anonymous functions**: Function that is defined without a name. Anonymous functions are
also called as lambda functions. They are not declared with the def keyword.

In [ ]:
def function_name():
  ''' function docstring '''

In [ ]:
function_name.__doc__

' function docstring '

In [ ]:
def myfunc():
  '''basic using of def'''
  print("hi this is function")
myfunc()

hi this is function

In [ ]:
myfunc.__doc__

'basic using of def'

In [ ]:
def details(name,user_id,country):
  '''
  function to print user details
  '''
  print('name:- {}\nuserId:- {} \ncountry:- {}'.format(name,user_id,country))

print(details.__doc__ )
details('ramu',99,'India')

  function to print user details

name:- ramu
userId:- 99
country:- India

In [ ]:
def get_square(num):
  '''
function to get square of a number
  '''
  return num**2
get_square(9)

81

In [ ]:
def even_odd_test(num):
  '''
function to check weather a a number is even or odd
  '''
  if num%2==0:print('{} is even'.format(num))
  else : print('{} is odd'.format(num))

even_odd_test(9)

9 is odd

In [ ]:
print(even_odd_test.__doc__)

function to check weather a a number is even or odd

In [ ]:
def fullname(firstname, middlename, lastname):
  fullname="{} {} {}".format(firstname,middlename,lastname)
  print(fullname)

fullname('praneeth','heart','mounika')

praneeth heart mounika

In [ ]:
def fullname(firstname, middlename, lastname):
  fullname="{} {} {}".format(firstname,middlename,lastname)
  print(fullname)

fullname(lastname='praneeth',middlename='heart',firstname='mounika')

mounika heart praneeth

In [ ]:
def myfunc(city = 'Mumbai'):
  print('most popular city:- ',city)

myfunc()
myfunc('hyd')

most popular city:-  Mumbai
most popular city:-  hyd

In [ ]:
var1= 100

def myfunc():
  print(var1)

myfunc()
print(var1)

100
100

In [ ]:
def myfunc1():
   global var2
   var2 =10
   print(var2)

def myfunc2():
  print(var2)

myfunc1()
myfunc2()

10
10

In [ ]:
list1= [10,20,30,40,50]
def myfunc(list1):
  del list[0]

print('list1 before calling function:- ',list1)
myfunc(list1)
print('list1 after calling function:- ',list1)

list1 before calling function:-  [10, 20, 30, 40, 50]

TypeError: 'type' object does not support item deletion

In [ ]:
def swap_(a,b):
  temp = a
  a = b
  b = temp
  print(a,b)
a = 10
b = 20
swap_(a,b)

20 10

In [ ]:
class ATM:
    def __init__(self, balance=0):
        self.balance = balance

    def display_balance(self):
        print(f"Your balance is: ${self.balance}")

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited ${amount}. Your new balance is: ${self.balance}")

    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient funds. Withdrawal unsuccessful.")
        else:
            self.balance -= amount
            print(f"Withdrew ${amount}. Your new balance is: ${self.balance}")

# Example usage:
def main():
    atm = ATM()

    while True:
        print("\n1. Display Balance")
        print("2. Deposit")
        print("3. Withdraw")
        print("4. Exit")

        choice = input("Enter your choice (1-4): ")

        if choice == "1":
            atm.display_balance()
        elif choice == "2":
            amount = float(input("Enter the deposit amount: $"))
            atm.deposit(amount)
        elif choice == "3":
            amount = float(input("Enter the withdrawal amount: $"))
            atm.withdraw(amount)
        elif choice == "4":
            print("Exiting the ATM. Thank you!")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 4.")

if __name__ == "__main__":
    main()

1. Display Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice (1-4): 1
Your balance is: $0

1. Display Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice (1-4): 2
Enter the deposit amount: $10
Deposited $10.0. Your new balance is: $10.0

1. Display Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice (1-4): 8
Invalid choice. Please enter a number between 1 and 4.

1. Display Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice (1-4): 3
Enter the withdrawal amount: $1
Withdrew $1.0. Your new balance is: $9.0

1. Display Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice (1-4): 3
Enter the withdrawal amount: $10
Insufficient funds. Withdrawal unsuccessful.

1. Display Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice (1-4): 4
Exiting the ATM. Thank you!

In [ ]:
class ATM:
    def __init__(self, balance=0):
        """
        Initializes an ATM object with a given balance.

        Parameters:
        - balance (float, optional): The initial balance of the ATM. Default is 0.
        """
        self.balance = balance

    def display_balance(self):
        """
        Displays the current balance of the ATM.
        """
        print(f"\n1Your balance is: ${self.balance}")

    def deposit(self, amount):
        """
        Deposits money into the ATM and updates the balance.

        Parameters:
        - amount (float): The amount to be deposited.
        """
        self.balance += amount
        print(f"Deposited ${amount} is successful. Your new balance is: ${self.balance}")

    def withdraw(self, amount):
        """
        Withdraws money from the ATM, if sufficient funds are available.

        Parameters:
        - amount (float): The amount to be withdrawn.
        """
        if amount > self.balance:
            print("Insufficient funds. Withdrawal unsuccessful.")
        else:
            self.balance -= amount
            print(f"Withdrew ${amount}. Your new balance is: ${self.balance}")

def main():
    """
    Main function to run the ATM simulation.

    Provides a simple menu for users to interact with the ATM by choosing options.
    """
    atm = ATM()

    while True:
        print("\n1. Display Balance")
        print("2. Deposit")
        print("3. Withdraw")
        print("4. Exit")

        choice = input("Enter your choice (1-4): ")

        if choice == "1":
            atm.display_balance()
        elif choice == "2":
            amount = float(input("Enter the deposit amount: $"))
            atm.deposit(amount)
        elif choice == "3":
            amount = float(input("Enter the withdrawal amount: $"))
            atm.withdraw(amount)
        elif choice == "4":
            print("Exiting the ATM. Thank you!")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 4.")

if __name__ == "__main__":
    main()

1. Display Balance
2. Deposit
3. Withdraw
4. Exit

1Your balance is: $0

1. Display Balance
2. Deposit
3. Withdraw
4. Exit
Exiting the ATM. Thank you!

In [ ]:
def write_to_file(file_name, content):
    """
    Creates a file and writes content to it.

    Parameters:
    - file_name (str): The name of the file to be created.
    - content (str): The content to be written to the file.
    """
    try:
        with open(file_name, 'w') as file:
            file.write(content)
        print(f"Content successfully written to '{file_name}'.")
    except Exception as e:
        print(f"An error occurred: {e}")

def main():
    """
    Main function to demonstrate file creation and writing.
    """
    file_name = input("Enter the name of the file: ")
    content = input("Enter the content to write to the file: ")

    write_to_file(file_name, content)

if __name__ == "__main__":
    main()

Enter the name of the file: sample_file
Enter the content to write to the file: hi this is a file
Content successfully written to 'sample_file'.

In [ ]:
def count_alphabet_frequencies(file_name):
    """
    Reads a file, counts the frequency of each alphabet (case-insensitive),
    and returns a sorted dictionary with the frequencies.

    Parameters:
    - file_name (str): The name of the file to be read.

    Returns:
    dict: A sorted dictionary with alphabet frequencies.
    """
    try:
        # Open the file in read mode
        with open(file_name, 'r') as file:
            # Read the content of the file and convert it to lowercase for case-insensitive counting
            content = file.read()
            content = content.lower()

        # Dictionary to store alphabet frequencies
        alphabet_frequencies = {}

        # Iterate through each character in the content
        for char in content:
            # Check if the character is an alphabet
            if char.isalpha():
                # Increment the count of the alphabet in the dictionary
                alphabet_frequencies[char] = alphabet_frequencies.get(char, 0) + 1

        # Sort the dictionary by keys

        return sorted_frequencies

    except Exception as e:
        # Handle any errors that might occur during file reading or counting
        print(f"An error occurred: {e}")
        return {}

def main():
    """
    Main function to demonstrate reading a file, counting alphabet frequencies, and sorting the dictionary.
    """
    # Prompt the user to enter the name of the file
    file_name = input("Enter the name of the file: ")

    # Call the function to count alphabet frequencies and sort the dictionary
    frequencies = count_alphabet_frequencies(file_name)

    # Display the results
    if frequencies:
        print("Alphabet frequencies (sorted by keys):")
        for char, count in frequencies.items():
            print(f"{char}: {count}")
    else:
        print("Unable to count alphabet frequencies.")

if __name__ == "__main__":
    main()

Enter the name of the file: sample_file
Alphabet frequencies (sorted by keys):
a: 1
e: 1
f: 1
h: 2
i: 4
l: 1
s: 2
t: 1

In [ ]:
def calculate_factorial(n):
    """
    Calculates the factorial of a given number using a for loop.

    Parameters:
    - n (int): The number for which the factorial is to be calculated.

    Returns:
    int: The factorial of the given number.
    """
    factorial_result = 1

    # Loop to calculate factorial
    for i in range(1, n + 1):
        factorial_result *= i

    return factorial_result

def main():
    """
    Main function to demonstrate the use of loops.
    """
    while True:
        try:
            # Get user input for a non-negative integer
            num = int(input("Enter a non-negative integer: "))

            if num < 0:
                print("Please enter a non-negative integer.")
                continue

            # Calculate and display the factorial
            result = calculate_factorial(num)
            print(f"The factorial of {num} is: {result}")

            break  # Exit the loop if input is valid and factorial is calculated

        except ValueError:
            print("Invalid input. Please enter a valid non-negative integer.")

if __name__ == "__main__":
    main()

Enter a non-negative integer: 4
The factorial of 4 is: 24

In [ ]:
l1=[1,3]
for i in l1:
  if i%2==0:
    print("even")
    break
  else:
    print("odd")
    break

odd

In [ ]:
def check_even(num_list):
  for num in num_list:
    if num%2==0:
      return True
    else:
      pass
  return False

In [ ]:
check_even([1,3,5])

False

In [ ]:
def get_even_num(num_list):
  even_list=[]
  for num in num_list:
    if num%2==0:
      if num not in even_list:
          even_list.append(num)
  return even_list

In [ ]:
get_even_num([1,2,3,4,5,6,6])

[2, 4, 6]

In [ ]:
stock_prices = [('A',10),('B',20)]

In [ ]:
for item in stock_prices:
  print(item)

('A', 10)
('B', 20)

In [ ]:
for name,price in stock_prices:
  print(name , price)

A 10
B 20

In [ ]:
work_hours = [('vivek',900),('saswata',200),('priya',900)]
def employee_check(work_hours):
  current_max=0
  emp_month=''
  for name,time in work_hours:
    if not time<=current_max:
      current_max=time
      emp_month=name
  return (emp_month,current_max)

In [ ]:
employee_check(work_hours)

('vivek', 900)

In [ ]:
example = [1,2,3,4,5,6,7]

In [ ]:
from random import shuffle
shuffle(example)

In [ ]:
example

[5, 7, 6, 4, 3, 1, 2]

In [ ]:
def shuffle_list(example):
  shuffle(example)
  return example
shuffle_list(example)

[6, 4, 2, 1, 5, 7, 3]

In [ ]:
my_list=['','o','']
def player_guess():
  guess=''
  while guess not in ['0','1','2']:
    guess = input('enter a number [0,1,2]: ')

  return int(guess)

guess=player_guess()

enter a number [0,1,2]: 1

In [ ]:
def check_guess(mylist,guess):
  if mylist[guess]=='o':
    return True

In [ ]:
check_guess(my_list,guess)

True

In [ ]:
my_list=['','o','']
def player_guess():
  guess=''
  while guess not in ['0','1','2']:
    guess = input('enter a number [0,1,2]: ')

  return int(guess)

guess=player_guess()

def check_guess(mylist,guess):
  if mylist[guess]=='o':
    print("guess is correct!")
  else:
    print('guess is wrong!')
check_guess(my_list,guess)

enter a number [0,1,2]: 3
enter a number [0,1,2]: 2
guess is wrong!

In [ ]:
def myfunc(*args):
  print(args)
  return sum(args)*0.05

In [ ]:
myfunc(10,20,30)

(10, 20, 30)

3.0

In [ ]:
def myfunc(**kwargs):
  print(kwargs)
  if 'fruit' in kwargs:
    print('My fruit of choice is {}'.format(kwargs['fruit']))
  else:
    print('i did not find any fruit')

In [ ]:
myfunc(fruit='apple',veggi='lettuce')

{'fruit': 'apple', 'veggi': 'lettuce'}
My fruit of choice is apple

In [ ]:
def myfunc(*args,**kwargs):
  print(args)
  print(kwargs)
  print('I would like {} {}'.format(args[0],kwargs['food']))

In [ ]:
myfunc(1,2,3,4,fruit='apple',veggi='lettuce',food='biryani')

(1, 2, 3, 4)
{'fruit': 'apple', 'veggi': 'lettuce', 'food': 'biryani'}
I would like 1 biryani

In [ ]:
def square(num):
  return num**2

In [ ]:
my_nums=[1,2,3,4,5]

In [ ]:
map(square,my_nums)

In [ ]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [ ]:
for it in map(square,my_nums):
  print(it)

1
4
9
16
25

In [ ]:
def check_even(num):
  return num%2==0

In [ ]:
list(filter(check_even,my_nums))

[2, 4]

In [ ]:
list(map(lambda num:num**2,[1,2,3]))

[1, 4, 9]

In [ ]:
list(filter(lambda num:num%2==0,my_nums))

[2, 4]

In [ ]:
my_nums

[1, 2, 3, 4, 5]

In [ ]:
names =['hi','hello','kai']

In [ ]:
def get(names):
  for x in names:
    print(x[0])

In [ ]:
list(map(lambda x:x[0],names))

['h', 'h', 'k']

Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key. The methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
list1.append(10)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [ ]:
list1.pop()

10

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list1.append(1)

In [ ]:
list1.count(1)

2

In [ ]:
help(list1.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [ ]:
list1.extend([1,2,3])

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 1, 2, 3]

In [ ]:
list1.insert(0,'hi')

In [ ]:
list1.reverse()

In [ ]:
list1

[3, 2, 1, 1, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'hi']

In [ ]:
list1.pop()

'hi'

In [ ]:
list1.sort()

In [ ]:
list1

[1, 1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list1.remove(3)

In [ ]:
list1

[1, 1, 1, 2, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
sorted(list1,reverse =True)

[10, 9, 8, 7, 6, 5, 4, 2, 2, 1, 1, 1]

**LEGB Rule**

Local(L): Defined inside function/class

Enclosed(E): Defined inside enclosing functions(Nested function concept)

Global(G): Defined at the uppermost level

Built-in(B): Reserved names in Python builtin modules

In [ ]:
#global
name ="this is global"

def greet():
  #enclosing
  name ="suman"

  def hello():

    #local
    name ="i'm local"
    print(f"hello {name}")
  hello()

In [ ]:
greet()

hello i'm local

In [ ]:
len

In [ ]:
x =50

def func():
  global x
  print(f"X is {x}")

  #local reassignment of x
  x ='new value'
  print(f"i just changed locally {x}")

In [ ]:
x=func()
print(x)

X is 50
i just changed locally new value
None

In [ ]:
print(x)

None

**OOPS**

* A Class is an object constructor or a "blueprint" for creating objects.


* Objects are nothing but an encapsulation of variables and functions into a single entity
* Objects get their variables and functions from classes.
To create a class we use the keyword class.
* The first string inside the class is called docstring which gives the brief description about the
class.
* All classes have a function called `__init__()`which is always executed when the class is
being initiated
* We can use `__init__()` function to assign values to object properties or other operations
that are necessary to perform when the object is being created.
* The self parameter is a reference to the current instance of the class and is used to access class variables.
* self must be the first parameter of any function in the class
* The super() builtin function returns a temporary object of the superclass that allows us to access methods of the base class.

In [ ]:
class Animal:
  def __init__(self,breed): # it is a constructor
    self.breed = breed
    print("in init method")
  def mamal(self):
    print("this is a ",self.breed)

In [ ]:
a1 = Animal("dog")
a1.mamal()

in init method
this is a  dog

In [ ]:
# Create an employee class
class Employee:
 def __init__(self, name, empid): # __init__() function is used to assign values
    self.name = name
    self.empid = empid
 def greet(self): # Class Method
    print("Thanks for joining ABC Company {}!!".format(self.name))
emp1 = Employee("Asif", 34163) # Create an employee object
print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Asif
Employee ID :-  34163
Thanks for joining ABC Company Asif!!

In [ ]:
class Computer:
  def __init__(self,cpu,ram):
    self.cpu = cpu
    self.ram = ram
    print("in init")

  def config(self):

    print("config is",self.cpu,self.ram)

In [ ]:
com1 = Computer("i5",16)
com1.config()

in init
config is i5 16

In [ ]:
com2 = Computer("ryzen",16)
com2.config()

in init
config is ryzen 16

In [ ]:
class Computer:
  def __init__(self):
    self.name = "chandu"
    self.age=21

In [ ]:
c1 = Computer()
c2 = Computer()

In [ ]:
print(id(c1),id(c2))

132697405159504 132697405148608

In [ ]:
c1.name="ravi"

In [ ]:
print(c1.name)
print(c2.name)

ravi
chandu

In [ ]:
class Computer:
  def __init__(self):
    self.name = "chandu"
    self.age=21

  def update(self):
    self.age = 30

  def compare(self,other):
    if self.age==other.age:
      return True
    else:return False

c1 = Computer()
c2 = Computer()


c1.update()

In [ ]:
print(c1.name)
print(c1.age)

chandu
30

In [ ]:
c1.compare(c2)

False

In [ ]:
if c1.age != c2.age:print("true")

true

In [ ]:
# if we define a variable outside a init it will become a class variable
# if we define a varibale inside a init it will be a instance variable
class Car:
  wheels = 4

  def __init__(self):
    self.mil =10
    self.com = "BMW"

c1 = Car()
c2 = Car()

c1.mil = 8
Car.wheels =5

print(c1.com, c1.mil,c1.wheels)
print(c2.com, c2.mil,c2.wheels)

BMW 8 5
BMW 10 5

**Types of methods :**
* Instance methods
* class methods
* static methods

In [ ]:
class Student:

  school="HPS"
  def __init__(self,m1,m2,m3):
    self.m1=m1
    self.m2=m2
    self.m3=m3
  def  avg(self):
    return (self.m1+self.m2+self.m3)/3

  def get_m1(self):
    return self.m1

  def set_m1(self,vlaue):
    self.m1 = value

  def info(cls): # working with class use 'cls'
    return cls.school

s1 = Student(10,20,20)
s2 =Student(10,10,10)

print(s1.avg())
print(s2.avg())

16.666666666666668
10.0

In [ ]:
class Dog:

  #class object attribute
  species = "mammal"

  def __init__(self,breed,name) -> None:
     self.breed = breed
     self.name = name

In [ ]:
sam = Dog('bob','chimtu')

In [ ]:
sam.name

'chimtu'

In [ ]:
sam.breed

'bob'

In [ ]:
sam.species

'mammal'

In [ ]:
class Circle:

  pi  = 3.14

  def __init__(self,radius = 1):
    self.radius = radius
    self.area = radius * radius * Circle.pi

  def setRadius(self,new_radius):
    self.radius=new_radius
    self.area = new_radius * new_radius * self.pi

  def getCircumference(self):
    return self.radius*self.pi*2

In [ ]:
c =Circle()
print('Radius is: ',c.radius)
print('Area is: ',c.area)
print('Circumference is: ',c.getCircumference())

Radius is:  1
Area is:  3.14
Circumference is:  6.28

**Inheritance**


1.   code reuse
2.   reduction of complexity of a program

In [ ]:
class Animal:
  def __init__(self):
    print("Animal created")
  def whoAmI(self):
        print("Animal")

  def eat(self):
        print("Eating")

class Dog(Animal):

  def __init__(self):
     Animal.__init__(self)
     print("Dog created")
  def whoAmI(self):
        print("Dog")

  def bark(self):
        print("Woof!")

In [ ]:
d = Dog()

Animal created
Dog created

In [ ]:
d.eat()

Eating

In [ ]:
d.whoAmI()

Dog

In [ ]:
class Dog():

  def __init__(self,name):
    self.name=name

  def speak(self):
    return self.name + " says woof!"

In [ ]:
class Cat():

  def __init__(self,name):
    self.name=name

  def speak(self):
    return self.name+'says meow!'

In [ ]:
chimtu = Dog("chimtu")
kittu = Cat("kittu")

In [ ]:
print(chimtu.speak())

chimtu says woof!

In [ ]:
print(kittu.speak())

kittusays meow!

In [ ]:
def pet_speak(pet):
  return pet.speak()

In [ ]:
pet_speak(chimtu)

'chimtu says woof!'

In [ ]:
pet_speak(kittu)

'kittusays meow!'

In [ ]:
class Animal():

  def __init__(self,name):
    self.name=name

  def speak(self):
    raise NotImplementedError("subclass must implement this absract method")

In [ ]:
my_animal=Animal('deer')

In [ ]:
my_animal.speak()

NotImplementedError: subclass must implement this absract method

In [ ]:
class Dog(Animal):

  def speak(self):
    return self.name + " says woof!"

class Cat(Animal):
    def speak(self):
      return self.name+'says meow!'

In [ ]:
d1 = Dog('juli')
c1 =Cat('kitti')

In [ ]:
d1.speak()

'juli says woof!'

**Special methds**

In [ ]:
class Book():

  def __init__(self,title,author,pages):

    self.title = title
    self.author = author
    self.pages = pages

  def __str__ (self):
    return f"{self.title} by {self.author}"

  def __len__(self):
    return self.pages

  def __del__(self):
   return "A book object has been deleted"

In [ ]:
b= Book('python','bert',234)

In [ ]:
b

In [ ]:
print(b)

python by bert

In [ ]:
print(str(b))

python by bert

In [ ]:
print(len(b))

234

In [ ]:
del b

**`Lambda, filter, map ,reduce`**

In [ ]:
print((lambda a : a+10 )(10))

20

In [ ]:
(lambda a : a+10) (10)

20

In [ ]:
addition = lambda a: a+10
print(addition(10))
print(addition(20))

20
30

In [ ]:
product = lambda a,b : a*b
print("product of a * b = ",product(10,20))

product of a * b =  200

In [ ]:
addition = lambda a,b,c : a+b+c
print(addition(10,20,30))

60

In [ ]:
addition = lambda *args: sum(args)
print(addition(1,2,3,4,5,6,7,8,9))
print(addition(10,20,30,40,50))

45
150

In [ ]:
sum(range(1,10))

45

In [ ]:
res = lambda **kwargs:sum(kwargs.values())
print(res(a=10,b=20,c=30))

60

In [ ]:
# User defined function to find product of numbers
def product(nums):

  res =1
  for i in nums:
    res *=i

  return res

In [ ]:
product([1,2,3])

6

In [ ]:
res1 = lambda **kwargs : product(kwargs.values())

print(res1(a=10,b=20,c=30))

6000

In [ ]:
from functools import reduce
reduce(lambda a,b:a*b,[1,2,3])

6

In [ ]:

res1 = lambda **kwargs : reduce(lambda a,b:a*b,kwargs.values())

print(res1(a=1,b=2,c=3))

6

In [ ]:
"filter(func,list) "

list(filter(lambda a : a%2==0, [1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [ ]:
list1 =[1,2,3,4,5,6,7,8,9,10]
def get_even(n):
  if n%2==0:return True
  else: return False

even_nums_list = list(filter(get_even,list1))
print(even_nums_list)

[2, 4, 6, 8, 10]

In [ ]:
list1=[1,2,3] # make every element in list double

def double(n):
  return n*2

res = list(map(double,list1))
res

[2, 4, 6]

In [ ]:
res1 = map(lambda a : a*2,list1)
list(res1)

[2, 4, 6]

In [ ]:
# from functools import reduce
list2 =[1,2,3,4]
def add(a,b):
  return a+b

addition = reduce(add,list2)
addition

10

In [ ]:
addition1 = reduce(lambda a,b : a+b, list1)
addition1

6

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
# Filter even numbers from the list
print("filterimg even numbers : ",list(filter(lambda a: a%2==0,list1)))

# Filter odd numbers from the lis
print("filterimg odd numbers : ",list(filter(lambda a: a%2==1,list1)))

filterimg even numbers :  [2, 4, 6, 8, 10]
filterimg odd numbers :  [1, 3, 5, 7, 9]

In [ ]:
list2 = ['one' , 'TWO' , 'three' , 'FOUR']
#filter upper case strings

print(list(filter(lambda a:a.isupper(),list2)))

#filter lower case strings
print(list(filter(lambda a:a.islower(),list2)))

['TWO', 'FOUR']
['one', 'three']

In [ ]:
list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']

print(list(filter(lambda a:a.isdigit(),list3)))

print(list(filter(lambda a:a.isalnum(),list3)))

print(list(filter(lambda a:a.isalpha(),list3)))

['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']
['one']

In [ ]:
 # Double each number using map & User defined fun

**File Management**

In [ ]:
fileobj = open('test1.txt') # # Open file in read/text mode

FileNotFoundError: [Errno 2] No such file or directory: 'test1.txt'

In [ ]:
fileobj =  #open('test1.txt', 'r') Open file in read mode

FileNotFoundError: [Errno 2] No such file or directory: 'test1.txt'

In [ ]:
fileobj = open('test1.txt', 'w') # Open file in write mode

In [ ]:
fileobj.write("hi  this is a new file")

22

In [ ]:
fileobj =  open('test1.txt', 'r')
fileobj.read()

'hi  this is a new file'

In [ ]:
fileobj.close()

In [ ]:
fileobj = open("test2.txt",'w') # creating a new file

fileobj.write("First Line\n")
fileobj.write("Second Line\n")
fileobj.write("Third Line\n")
fileobj.write("Fourth Line\n")
fileobj.write("Fifth Line\n")
fileobj.close()
fileobj = open('test2.txt')
fileobj.readlines()

['First Line\n',
 'Second Line\n',
 'Third Line\n',
 'Fourth Line\n',
 'Fifth Line\n']

In [ ]:
import sys

In [ ]:
try:
 print(100/0) # ZeroDivisionError will be encountered here. So the control wil

except:
 print(sys.exc_info()[1] , 'Exception occured') # This statement will be execu

else:
 print('No exception occurred') # This will be skipped as code block inside tr
finally:
 print('Run this block of code always') # This will be always executed

division by zero Exception occured
Run this block of code always

In [ ]:
import os
try:
  os.remove("test3.txt")

except FileNotFoundError:
      print("getting file not found error")
except NameError:
      print("got name error")

getting file not found error

In [ ]:
os.remove("test3.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'test3.txt'

In [ ]:
sys.exc_info()

(None, None, None)

In [ ]:
try:
 x = int(input('Enter first number :- '))
 if x > 50:
     raise ValueError(x) # If value of x is greater than 50 ValueError excepti
except:
 print(sys.exc_info())

Enter first number :- 100
(<class 'ValueError'>, ValueError(100), <traceback object at 0x7f8f29f930c0>)

In [ ]:
try:
 a = 50
 b =  10
 assert b == a/5
except AssertionError:
 print ("Assertion Exception Raised.")
else:
  print("no error")

no error

In [ ]:
try:
 mydict = {1:'Asif', 2:'Basit', 3:'Michael'}
 list1 = [1,2,3]
 print (mydict[0])

except KeyError:
 print ("KeyError Exception Raised.")

In [ ]:
class Car:
  name ='hi'
  Car = 'bmw'
  pass


obj = Car()
print(obj.name)
print()

hi

In [ ]:
obj.Car()

AttributeError: 'Car' object has no attribute 'Car'

In [ ]:
def mygen():
 for i in range(1,20):
      yield i

list(mygen())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist) # Create an iterator object using iter()
print(next(list_iter)) # return first element in the iterator stream

Asif

In [ ]:
print(next(list_iter))

Basit

In [ ]:
print(next(list_iter))

John

In [ ]:
print(next(list_iter))

Michael

In [ ]:
print(next(list_iter))

StopIteration:

In [ ]:
def mygen():
 n = 1
 yield n
 n += 1
 yield n
 n += 1
 yield n
 n += 1
 yield n

 n += 1
 yield n
mygen1=mygen()
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1)) #Function will terminate here as all 5 values have been retur

1
2
3
4
5

welcome to python

In [1]:
#decorators 
def new_decorator(func):
    
    def wrap_func():

        print("code would be here, before executing the func")

        func()

        print("code here will execute after the func()")
    return wrap_func

def func_nedds_decorator():
    print('this function is in nedd of a decorator')

In [2]:
func_nedds_decorator()

this function is in nedd of a decorator

In [4]:
our_fucn = new_decorator(func_nedds_decorator)
our_fucn()

code would be here, before executing the func
this function is in nedd of a decorator
code here will execute after the func()

In [6]:
new_decorator(func_nedds_decorator)()

code would be here, before executing the func
this function is in nedd of a decorator
code here will execute after the func()

In [7]:
@new_decorator
def func_nedds_decorator():
    print('this function is in nedd of a decorator')

In [8]:
func_nedds_decorator()

code would be here, before executing the func
this function is in nedd of a decorator
code here will execute after the func()

In [1]:
def creat_cubes(n):

    for x in range(n):
        yield x**3

In [9]:
for x in creat_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [10]:
def gen_fibnaci(n):
    """
    genrate a fibonnaci sequence up to n
    """
    a=1
    b=1
    for i in range(n):
        yield a 
        a,b = b,a+b

In [11]:
for num in gen_fibnaci(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [12]:
def fibon(n):
    a = 1
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a+b
        
    return output

In [13]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [14]:
def simple_gen():
    for x in range(3):
        yield x

In [15]:
g= simple_gen()

In [16]:
print(next(g))

0

In [17]:
print(next(g))

1

In [18]:
print(next(g))

2

In [19]:
print(next(g))

StopIteration:

In [20]:
s = 'hello'

for i in s:
    print(i)

h
e
l
l
o

In [21]:
next(s)

TypeError: 'str' object is not an iterator

In [22]:
s_iter = iter(s)

In [23]:
next(s_iter)

'h'

In [24]:
next(s_iter)

'e'

In [25]:
next(s_iter)

'l'

In [26]:
next(s_iter)

'l'

In [27]:
next(s_iter)

'o'

In [28]:
next(s_iter)

StopIteration:

In [30]:
#Create a generator that generates the squares of numbers up to some number N.
def gen_squares(N):
    for i in range(N):
        yield i**2

In [31]:
for x in gen_squares(10):
    print(x)

0
1
4
9
16
25
36
49
64
81

In [32]:
list(gen_squares(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
def mygen(n):
    for i in range(n+1):
        yield i

In [40]:
res = mygen(5)

print(next(res))
print(next(res))
print(next(res))
print(next(res))
print(next(res))
print(next(res))

0
1
2
3
4
5

In [41]:
list(mygen(5))

[0, 1, 2, 3, 4, 5]

In [42]:
for i in mygen(5):
    print(i)

0
1
2
3
4
5

In [43]:
def mygen():
 n = 1
 yield n
 n += 1
 yield n
 n += 1
 yield n
 n += 1
 yield n

 n += 1
 yield n

mygen1 = mygen()
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1)) #Function will terminate here as all 5 values have been retur
print(next(mygen1))  # As function is already terminated, StopIteration is raised

1
2
3
4
5

StopIteration:

In [44]:
list1 = [i**2 for i in range(5)]
list1

[0, 1, 4, 9, 16]

In [45]:
gen1 = (i**2 for i in range(5))
gen1

In [46]:
list(gen1)

[0, 1, 4, 9, 16]

In [48]:
gen1 = (i**2 for i in range(5))
gen1
print(next(gen1))
print(next(gen1))
print(next(gen1))
print(next(gen1))
print(next(gen1))

0
1
4
9
16

In [55]:
gen2 = (i for i in range(10) if i%2==0)
list(gen2)

[0, 2, 4, 6, 8]

In [56]:
gen2 = (i for i in range(10) if i%2==0)
for i in gen2:
    print(i)

0
2
4
6
8

In [59]:
def subtract(num1,num2):
    print('result is =',num1-num2)

subtract(4,2)
subtract(2,4)

result is = 2
result is = -2

In [61]:
def sub_decorator(func):

    def wrapper(num1,num2):
        if num1<num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper

sub = sub_decorator(subtract)
sub(2,4)

result is = 2

In [63]:
@sub_decorator
def subtract(num1,num2):
    print('result is =',num1-num2)
subtract(2,4)

result is = 2

In [65]:
def InstallDecorator(func):
    def wrapper():
        print('Please accept terms & conditions')
        return func()
    return wrapper()

In [67]:
@InstallDecorator
def InstallLinux():
 print('Linux installation has started \n')

@InstallDecorator
def InstallWindows():
 print('Windows installation has started \n')

@InstallDecorator
def InstallMac():
 print('Mac installation has started \n')

Please accept terms & conditions
Linux installation has started

Please accept terms & conditions
Windows installation has started

Please accept terms & conditions
Mac installation has started

**Python Advanced modules**

In [68]:
# collection module
from collections import Counter

In [70]:
mylist=[1,2,3,4,5,6,6,7,3,6,8,3,7,2,7,15]

In [71]:
Counter(mylist)

Counter({3: 3, 6: 3, 7: 3, 2: 2, 1: 1, 4: 1, 5: 1, 8: 1, 15: 1})

In [72]:
help(Counter)

Help on class Counter in module collections:

class Counter(builtins.dict)
 |  Counter(iterable=None, /, **kwds)
 |
 |  Dict subclass for counting hashable items.  Sometimes called a bag
 |  or multiset.  Elements are stored as dictionary keys and their counts
 |  are stored as dictionary values.
 |
 |  >>> c = Counter('abcdeabcdabcaba')  # count elements from a string
 |
 |  >>> c.most_common(3)                # three most common elements
 |  [('a', 5), ('b', 4), ('c', 3)]
 |  >>> sorted(c)                       # list all unique elements
 |  ['a', 'b', 'c', 'd', 'e']
 |  >>> ''.join(sorted(c.elements()))   # list elements with repetitions
 |  'aaaaabbbbcccdde'
 |  >>> sum(c.values())                 # total of all counts
 |  15
 |
 |  >>> c['a']                          # count of letter 'a'
 |  5
 |  >>> for elem in 'shazam':           # update counts from an iterable
 |  ...     c[elem] += 1                # by adding 1 to each element's count
 |  >>> c['a']                          # now there are seven 'a'
 |  7
 |  >>> del c['b']                      # remove all 'b'
 |  >>> c['b']                          # now there are zero 'b'
 |  0
 |
 |  >>> d = Counter('simsalabim')       # make another counter
 |  >>> c.update(d)                     # add in the second counter
 |  >>> c['a']                          # now there are nine 'a'
 |  9
 |
 |  >>> c.clear()                       # empty the counter
 |  >>> c
 |  Counter()
 |
 |  Note:  If a count is set to zero or reduced to zero, it will remain
 |  in the counter until the entry is deleted or the counter is cleared:
 |
 |  >>> c = Counter('aaabbc')
 |  >>> c['b'] -= 2                     # reduce the count of 'b' by two
 |  >>> c.most_common()                 # 'b' is still in, but its count is zero
 |  [('a', 3), ('c', 1), ('b', 0)]
 |
 |  Method resolution order:
 |      Counter
 |      builtins.dict
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, other)
 |      Add counts from two counters.
 |
 |      >>> Counter('abbb') + Counter('bcc')
 |      Counter({'b': 4, 'c': 2, 'a': 1})
 |
 |  __and__(self, other)
 |      Intersection is the minimum of corresponding counts.
 |
 |      >>> Counter('abbb') & Counter('bcc')
 |      Counter({'b': 1})
 |
 |  __delitem__(self, elem)
 |      Like dict.__delitem__() but does not raise KeyError for missing values.
 |
 |  __eq__(self, other)
 |      True if all counts agree. Missing counts are treated as zero.
 |
 |  __ge__(self, other)
 |      True if all counts in self are a superset of those in other.
 |
 |  __gt__(self, other)
 |      True if all counts in self are a proper superset of those in other.
 |
 |  __iadd__(self, other)
 |      Inplace add from another counter, keeping only positive counts.
 |
 |      >>> c = Counter('abbb')
 |      >>> c += Counter('bcc')
 |      >>> c
 |      Counter({'b': 4, 'c': 2, 'a': 1})
 |
 |  __iand__(self, other)
 |      Inplace intersection is the minimum of corresponding counts.
 |
 |      >>> c = Counter('abbb')
 |      >>> c &= Counter('bcc')
 |      >>> c
 |      Counter({'b': 1})
 |
 |  __init__(self, iterable=None, /, **kwds)
 |      Create a new, empty Counter object.  And if given, count elements
 |      from an input iterable.  Or, initialize the count from another mapping
 |      of elements to their counts.
 |
 |      >>> c = Counter()                           # a new, empty counter
 |      >>> c = Counter('gallahad')                 # a new counter from an iterable
 |      >>> c = Counter({'a': 4, 'b': 2})           # a new counter from a mapping
 |      >>> c = Counter(a=4, b=2)                   # a new counter from keyword args
 |
 |  __ior__(self, other)
 |      Inplace union is the maximum of value from either counter.
 |
 |      >>> c = Counter('abbb')
 |      >>> c |= Counter('bcc')
 |      >>> c
 |      Counter({'b': 3, 'c': 2, 'a': 1})
 |
 |  __isub__(self, other)
 |      Inplace subtract counter, but keep only results with positive counts.
 |
 |      >>> c = Counter('abbbc')
 |      >>> c -= Counter('bccd')
 |      >>> c
 |      Counter({'b': 2, 'a': 1})
 |
 |  __le__(self, other)
 |      True if all counts in self are a subset of those in other.
 |
 |  __lt__(self, other)
 |      True if all counts in self are a proper subset of those in other.
 |
 |  __missing__(self, key)
 |      The count of elements not in the Counter is zero.
 |
 |  __ne__(self, other)
 |      True if any counts disagree. Missing counts are treated as zero.
 |
 |  __neg__(self)
 |      Subtracts from an empty counter.  Strips positive and zero counts,
 |      and flips the sign on negative counts.
 |
 |  __or__(self, other)
 |      Union is the maximum of value in either of the input counters.
 |
 |      >>> Counter('abbb') | Counter('bcc')
 |      Counter({'b': 3, 'c': 2, 'a': 1})
 |
 |  __pos__(self)
 |      Adds an empty counter, effectively stripping negative and zero counts
 |
 |  __reduce__(self)
 |      Helper for pickle.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __sub__(self, other)
 |      Subtract count, but keep only results with positive counts.
 |
 |      >>> Counter('abbbc') - Counter('bccd')
 |      Counter({'b': 2, 'a': 1})
 |
 |  copy(self)
 |      Return a shallow copy.
 |
 |  elements(self)
 |      Iterator over elements repeating each as many times as its count.
 |
 |      >>> c = Counter('ABCABC')
 |      >>> sorted(c.elements())
 |      ['A', 'A', 'B', 'B', 'C', 'C']
 |
 |      # Knuth's example for prime factors of 1836:  2**2 * 3**3 * 17**1
 |      >>> import math
 |      >>> prime_factors = Counter({2: 2, 3: 3, 17: 1})
 |      >>> math.prod(prime_factors.elements())
 |      1836
 |
 |      Note, if an element's count has been set to zero or is a negative
 |      number, elements() will ignore it.
 |
 |  most_common(self, n=None)
 |      List the n most common elements and their counts from the most
 |      common to the least.  If n is None, then list all element counts.
 |
 |      >>> Counter('abracadabra').most_common(3)
 |      [('a', 5), ('b', 2), ('r', 2)]
 |
 |  subtract(self, iterable=None, /, **kwds)
 |      Like dict.update() but subtracts counts instead of replacing them.
 |      Counts can be reduced below zero.  Both the inputs and outputs are
 |      allowed to contain zero and negative counts.
 |
 |      Source can be an iterable, a dictionary, or another Counter instance.
 |
 |      >>> c = Counter('which')
 |      >>> c.subtract('witch')             # subtract elements from another iterable
 |      >>> c.subtract(Counter('watch'))    # subtract elements from another counter
 |      >>> c['h']                          # 2 in which, minus 1 in witch, minus 1 in watch
 |      0
 |      >>> c['w']                          # 1 in which, minus 1 in witch, minus 1 in watch
 |      -1
 |
 |  total(self)
 |      Sum of the counts
 |
 |  update(self, iterable=None, /, **kwds)
 |      Like dict.update() but add counts instead of replacing them.
 |
 |      Source can be an iterable, a dictionary, or another Counter instance.
 |
 |      >>> c = Counter('which')
 |      >>> c.update('witch')           # add elements from another iterable
 |      >>> d = Counter('watch')
 |      >>> c.update(d)                 # add elements from another counter
 |      >>> c['h']                      # four 'h' in which, witch, and watch
 |      4
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, v=None) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.dict:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.dict:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from builtins.dict:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [73]:
Counter("abcdefgrhakshjguekgnaurhgknghsg")

Counter({'g': 6,
         'h': 4,
         'a': 3,
         'k': 3,
         'e': 2,
         'r': 2,
         's': 2,
         'u': 2,
         'n': 2,
         'b': 1,
         'c': 1,
         'd': 1,
         'f': 1,
         'j': 1})

In [74]:
s ="hi this is using of a counter from collections module"
words = s.split()
Counter(words)

Counter({'hi': 1,
         'this': 1,
         'is': 1,
         'using': 1,
         'of': 1,
         'a': 1,
         'counter': 1,
         'from': 1,
         'collections': 1,
         'module': 1})

In [76]:
c = Counter(words)

c.most_common(3)

[('hi', 1), ('this', 1), ('is', 1)]

In [77]:
# total of all counts
sum(c.values())

10

In [78]:
# reset all counts
c.clear()

In [79]:
c

Counter()

In [80]:

c = Counter(words)

In [81]:
c

Counter({'hi': 1,
         'this': 1,
         'is': 1,
         'using': 1,
         'of': 1,
         'a': 1,
         'counter': 1,
         'from': 1,
         'collections': 1,
         'module': 1})

In [82]:
# list unique elements
list(c)

['hi',
 'this',
 'is',
 'using',
 'of',
 'a',
 'counter',
 'from',
 'collections',
 'module']

In [83]:
set(c)

{'a',
 'collections',
 'counter',
 'from',
 'hi',
 'is',
 'module',
 'of',
 'this',
 'using'}

In [84]:
dict(c)

{'hi': 1,
 'this': 1,
 'is': 1,
 'using': 1,
 'of': 1,
 'a': 1,
 'counter': 1,
 'from': 1,
 'collections': 1,
 'module': 1}

In [85]:
c.items()

dict_items([('hi', 1), ('this', 1), ('is', 1), ('using', 1), ('of', 1), ('a', 1), ('counter', 1), ('from', 1), ('collections', 1), ('module', 1)])

In [86]:
#defaultdict
"A defaultdict will never raise a KeyError. Any key that does not exist gets the value returned by the default factory."
from collections import defaultdict

d= {}
d['one']

KeyError: 'one'

In [90]:
d= defaultdict(object)

In [91]:
d

defaultdict(object, {})

In [92]:
d['one']

In [93]:
# Can also initialize with default values:
d = defaultdict(lambda :0)

d['one']

0

In [94]:
# namedtuple

t= (12,23,43)

In [95]:
t[0]

12

In [96]:
from collections import namedtuple

In [97]:
Dog =  namedtuple('Dog',['age','breed','name'])

sam = Dog(age=2,breed='lab',name='sammy')

frank = Dog(age=2,breed = 'shepard',name='Frankie')

In [98]:
sam

Dog(age=2, breed='lab', name='sammy')

In [99]:
sam.age

2

In [100]:
sam.breed

'lab'